<header class="header">
    <div class="page-title">
        <button class="menu-toggle" (click)="toggleSidebar()">
            <i class='bx bx-menu'></i>
        </button>
        <h1>{{ pageTitle }}</h1>
    </div>

    <div class="header-actions">
        <div class="search-bar">
            <i class='bx bx-search'></i>
            <input type="text" placeholder="Search in here">
        </div>

        <div class="notification-icon">
            <i class='bx bx-bell'></i>
            <span class="badge"></span>
        </div>
    </div>
</header>