<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>Order ID <i class='bx bx-sort-alt-2'></i></th>
                <th>Restaurant Name <i class='bx bx-sort-alt-2'></i></th>
                <th>Customer Name <i class='bx bx-sort-alt-2'></i></th>
                <th>Date & Time <i class='bx bx-sort-alt-2'></i></th>
                <th>Total Item <i class='bx bx-sort-alt-2'></i></th>
                <th>Amount <i class='bx bx-sort-alt-2'></i></th>
                <th>Status <i class='bx bx-sort-alt-2'></i></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td><input type="checkbox"></td>
                <td>{{ order.id }}</td>
                <td>{{ order.restaurant }}</td>
                <td>{{ order.customer }}</td>
                <td>{{ order.date }}</td>
                <td>{{ order.items }}</td>
                <td>{{ order.amount }}</td>
                <td><span class="status-badge delivered">{{ order.status }}</span></td>
            </tr>
        </tbody>
    </table>
</div>