<div class="card-panel">
    <div class="panel-header">
        <div class="title-group">
            <h3>Repeat Orders Analysis</h3>
            <span class="subtitle">Comparison between new customers and returning buyers</span>
        </div>
        <div class="actions">
            <div class="filter-group">
                <div class="dropdown-container">
                    <span class="btn-monthly" (click)="toggleDropdown('resolution')">
                        {{ getLabel(selectedResolution, resolutionOptions) }} <i class='bx bx-chevron-down'></i>
                    </span>
                    <div class="dropdown-menu" *ngIf="showResolutionDropdown">
                        <ul>
                            <li *ngFor="let opt of resolutionOptions" (click)="setFilter('resolution', opt.value)" [class.active]="opt.value === selectedResolution">
                                {{ opt.label }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown-container">
                    <span class="btn-monthly" (click)="toggleDropdown('category')">
                        {{ getLabel(selectedCategory, categoryOptions) }} <i class='bx bx-chevron-down'></i>
                    </span>
                    <div class="dropdown-menu" *ngIf="showCategoryDropdown">
                        <ul>
                            <li *ngFor="let opt of categoryOptions" (click)="setFilter('category', opt.value)" [class.active]="opt.value === selectedCategory">
                                {{ opt.label }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="icon-actions">
                <i class='bx bx-printer'></i>
                <i class='bx bx-export'></i>
                <i class='bx bx-download'></i>
            </div>
        </div>
    </div>
    <div class="chart-container">
        <canvas baseChart [data]="barChartData" [options]="barChartOptions" type="bar"
            (chartClick)="onChartClick($event)">
        </canvas>
    </div>
</div>