<div class="card-panel">
    <div class="panel-header">
        <div class="title-group">
            <h3>User Growth Trend</h3>
            <span class="subtitle">Monthly user registration growth</span>
        </div>
        <div class="actions">
            <div class="filter-group">
                <div class="dropdown-container">
                    <span class="btn-monthly" (click)="toggleDropdown('period')">
                        {{ getLabel(selectedPeriod, periodOptions) }} <i class='bx bx-chevron-down'></i>
                    </span>
                    <div class="dropdown-menu" *ngIf="showPeriodDropdown">
                        <ul>
                            <li *ngFor="let opt of periodOptions" (click)="setFilter('period', opt.value)" [class.active]="opt.value === selectedPeriod">
                                {{ opt.label }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="icon-actions">
                <i class='bx bx-printer'></i>
                <i class='bx bx-download'></i>
                <i class='bx bx-export'></i>
            </div>
        </div>
    </div>
    <div class="chart-container clickable" (click)="onChartClick()">
        <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'">
        </canvas>
    </div>
</div>