<div class="card-panel">
    <div class="panel-header">
        <div class="title-group">
            <h3>Average Order Value</h3>
            <span class="subtitle">Visualizing the trend of average transaction value over the last 7 days</span>
        </div>
        <div class="actions">
            <div class="filter-group">
                <div class="dropdown-container">
                    <span class="btn-monthly" (click)="toggleDropdown('period')">
                        {{ getLabel(selectedPeriod, periodOptions) }} <i class='bx bx-chevron-down'></i>
                    </span>
                    <div class="dropdown-menu" *ngIf="showPeriodDropdown">
                        <ul>
                            <li *ngFor="let opt of periodOptions" (click)="setFilter('period', opt.value)" [class.active]="opt.value === selectedPeriod">
                                {{ opt.label }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="btn-view-details" (click)="openDetail()">
                <i class='bx bx-expand-alt'></i> View Details
            </button>
            <div class="icon-actions">
                <i class='bx bx-printer'></i>
                <i class='bx bx-export'></i>
                <i class='bx bx-download'></i>
            </div>
        </div>
    </div>
    <div class="chart-container clickable" (click)="openDetail()">
        <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'">
        </canvas>
    </div>
</div>